.Control-cart
{
    width: fit-content;
    padding: 5px 20px;
    font-size: 30px;
    display: flex;
    gap: 10px;
    color: black;
    border-radius: 10px;
}
.Control-cart span
{
    cursor: pointer;
}
.Go-shopping
{
    height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Go-shopping h1 
{
    font-size: 40px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.Go-shopping h1:hover
{
    color: red;
}
.Go-shopping h1::before
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: black;
}